.course__header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.course__content {
    padding: 40px 20px;
}
.course__list-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.course__content-header {
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 0.5fr repeat(8, 1fr);
}
.course__content-header > p {
    color: #9f9f9f;
    font-size: 18px;
}
.course__content-header > p:nth-child(2) {
    grid-column: span 2;
}
.course__content-header > p:nth-child(3) {
    grid-column: span 3;
}
.course__content-header > p:nth-child(4) {
    text-align: center;
}

.course__content-header > p:nth-child(5) {
    text-align: center;
}

.course__content-header > p:nth-child(6) {
    text-align: center;
}


.course__list-box {
    padding: 20px 35px;
}
.course__list {
    display: grid;
    grid-template-columns: 0.5fr repeat(8, 1fr);
    background-color: #fff;
    padding: 20px;
    align-items: center;
    border-radius: 6px;

    
}
.course__list li:nth-child(1) > p {
    font-size: 20px
}

.course__list li:nth-child(2) > p {
    font-size: 20px;
    font-weight: 600;
}
.course__list li:nth-child(3) > p {
    font-size: 16px;
}



.course__list li:nth-child(4) > p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.course__list li:nth-child(5) > p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.course__list li:nth-child(2) {
    grid-column: span 2;
}
.course__list li:nth-child(3) {
    grid-column: span 3;
}


.course__list li:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.course__list li:nth-child(6) > button {
    padding: 0;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
}