.group__header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.group__header-title {
    font-size: 24px;
}

.group__content {
    padding: 40px 20px;
}

.group__content_title-box {
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr repeat(10, 1fr);
    padding: 0 32px 0 48px;
}

.group__content_title-box p {
    color: #9f9f9f;
    font-size: 18px;
}

.group__content_title-box p:nth-child(2) {
    grid-column: span 2;
}

.group__content_title-box p:nth-child(3) {
    grid-column: span 3;
}

.group__content_title-box p:nth-child(4) {
    grid-column: span 2;
}

.group__content_title-box p:nth-child(5) {}

.group__content_title-box p:nth-child(6) {
    text-align: center;
}


.group__content-card {
    padding: 17px 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 4px;
    padding-left: 48px;
    padding-right: 32px;
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr repeat(10, 1fr);
}

.group__content-card li:nth-child(1)>p {
    font-size: 18px;
    font-weight: 600;
}

.group__content-card li:nth-child(2) {
    grid-column: span 2;
}

.group__content-card li:nth-child(2)>p {
    font-size: 18px;
    font-weight: 600;
}

.group__content-card li:nth-child(3) {
    grid-column: span 3;
}

.group__content-card li:nth-child(4) {
    grid-column: span 2;
}


.group__content-card li:nth-child(4)>p {
    font-size: 18px;
}


.group__content-card li:nth-child(5)>p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.group__content-card li:nth-child(6) {
    text-align: center;
}

.group__content-card li:nth-child(6)>p {
    font-weight: 600;
    font-size: 18px;
}


.group__content-card li:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group__content-card li:nth-child(7)>button {
    padding: 0;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
}

.group__pagination-box {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.group__pagination-text {
    font-size: 18px;
}

.group__pagination_button-wrap {
    display: flex;
    align-items: center;
    gap: 7px;
}

.group__content-list-box {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.create__header-button-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
}

.group__header-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* modal */

.group__filter-modal {
    width: 200px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: 100%;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 100;
    
}

.group__modal-header {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.group__modal-title {
    font-weight: 600;
    font-size: 26px;
}

.group__modal-content {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
}

.group__modal-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.group__modal-btn {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}