* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__name_text {
    line-height: normal !important;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.custom-upload .ant-upload {
    width: 200px !important;
    height: 156px !important;
}

.custom-upload .ant-upload-list-item {
    width: 200px !important;
    height: 156px !important;
}